html, body
{
	margin: 0;
	min-height: 100% !important;
	height: 100%;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6, ul, ol, button
{
	margin: 0;
	padding: 0;
	border: none;
}

#nav > a
{
	font-weight: bold;
	letter-spacing: 2px;
	color: skyblue;
	font-size: 20px;
}

#nav > a > img
{
	width: 32px;
	height: 32px;
}

#nav > a > div
{
	display: inline-block;
	vertical-align: middle;
}

#nav > a span
{
	color: red;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 22px;
}

#navOptions li
{
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid transparent;
}

#navOptions li:hover
{
	border-bottom: 1px solid #ccc;
}

h1
{
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 36px;
	margin: 10px 20px 0 20px;
	text-align: center;
	padding: 10px 0 10px 0;
}