#uploadWindow
{
	background-color: rgba(240, 240, 240, 0.9);
	color: #666;
	text-align: center;
	width: 80%;
	max-width: 700px !important;
	min-width: 400px !important;
}

#uploadWindow > h2
{
	margin-top: 10px;
	font-size: 26px;
	text-align: center;
	text-shadow: 2px 2px 2px gray;
	margin-bottom: 20px;
}

#dropFilesArea
{
	border: 4px dashed skyblue;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ddd;
	line-height: 150%;
	font-size: 22px;
}

input[type=file]
{
	position: absolute;
	opacity: 0;
	z-index: -10;
	height: 0.1px;
	width: 0.1px;
}

#progress
{
	display: flex;
	justify-content: center;
	margin-top: 15px;
	padding: 5px 0 10px 0;
}

#progressBarWrapper
{
	width: 70%;
	min-width: 300px !important;
	background-color: lightgray;
	border: 2px solid gray;
	border-radius: 4px;
}

#progressBar
{
	width: 0;
	height: 30px;
	background-color: skyblue;
}

#uploadStatus
{
	margin-bottom: 6px;
}

#uploadLogs
{
	background-color: lightgray;
	border: 1px solid gray;
	height: 120px;
	overflow-y: auto;
}

#uploadLogs .alert
{
	margin: 0;
	padding: 4px;
	margin-top: 3px;
}

#cancelUploadBtn
{
	display: none;
	margin-top: 15px;
}