#compareAccountsSection
{
    background-image: url('/resources/img/accounts_comp.jpg')
}

#compareAccountsSection h1
{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    color: white;
    text-shadow: 2px 2px 1px black;
}

#compareAccountsSection > h1 img
{
    width: 48px;
    height: 48px;
    transform: translateY(-3px);
}

#accountsTableWrapper
{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

@media only screen and (max-width: 600px) 
{
    #accountsTableWrapper  
    {
        left: 0;
        transform: none;
    }
}