.uploadAlert
{
	border-top: none !important;
	padding: 6px 10px 6px 10px !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.uploadAlert::before
{
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 34px;
	text-shadow: 1px 1px 1px black;
}

.uploadAlertSuccess::before
{
	content: '\2713';
	color: green;
}

.uploadAlertWarning::before
{
	content: '\26A0';
	color: gold;
}

.uploadAlertDanger::before
{
	content: 'X';
	color: red;
}

.uploadAlert span
{
	font-size: 18px;
	word-break: break-all;
	padding: 2px 0px 2px 0px;
}

.uploadAlert button
{
	font-size: 28px;
	line-height: 1ch;
	padding-bottom: 4px;
	background-color: transparent;
	outline: none;
	color: #888;
	font-weight: bold;
	text-shadow: 1px 1px 2px #343434;
}

.uploadAlert button:hover
{
	cursor: pointer;
	color: #aaa;
	text-shadow: 1px 1px 2px #676767;
}