#uploadBtnWrapper
{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.uploadBtnOutline
{
	display: inline-block;
	border-radius: 100%;
	background-color: transparent;
}

#uploadBtnOuterOutline
{
	padding: 30px;
	border: 2px solid transparent;
	transition: border 0.5s;
}

.activeUploadBtnOuterOutline
{
	border: 2px solid rgba(224,255,255, 0.5) !important;
}

#uploadBtnInnerOutline
{
	padding: 20px;
	border: 4px solid transparent;
	transition: border 0.5s;
}

.activeUploadBtnInnerOutline
{
	border: 4px solid rgba(175,238,238, 0.7) !important;
}

#uploadBtn
{
	position: relative;
	background-color: transparent;
	border: 6px solid transparent;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	text-align: center;
	padding: 0;
	cursor: pointer;
	-moz-box-shadow: 1px 1px 7px 2px black;
	-webkit-box-shadow: 1px 1px 7px 2px black;
	box-shadow: 1px 1px 7px 2px black;
	transition: border 0.5s;
}

.activeUploadBtn
{
	border: 6px solid rgba(0,191,255, 0.9) !important;
}

#uploadBtnBcg
{
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: lightblue;
	border-radius: 100%;
	opacity: 0.6;
}

#uploadBtn > i
{
	font-size: 100px;
	text-align: center;
	color: seagreen;
	position: relative;
	top: -17px;
	left: -3px;
}