html, body
{
	margin: 0;
	min-height: 100vh;
	height: 100%;
	font-size: 18px;
}

body
{
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, ul, ol, button
{
	margin: 0;
	padding: 0;
	border: none;
}

section
{
	overflow-x: auto;
	max-width: 100vw;
	box-sizing: border-box;
	min-height: 100vh;
	padding: 10px;
	padding-top: 20px;
}

@supports (-ms-ime-align: auto) 
{
  	section 
  	{
     	overflow-x: hidden;  
  	}
}

h1
{
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 36px;
	margin: 10px 20px 0 20px;
	text-align: center;
	padding: 10px 0 10px 0;
}

h2
{
	margin-top: 10px;
	font-size: 26px;
	text-align: center;
	text-shadow: 2px 2px 2px gray;
	margin-bottom: 20px;
}